<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, inital-scale=1.0">
		<link href="static/style.css" rel="stylesheet">
		<title>ASCII-ART</title>
	</head>

	<body>
	<div class="wrapper">
		<header class="header">
			<div class="container">
			</div>
		</header>
		<main class="main">
			<div class="container">
				<div class="main__row">
               
					<div class="main__content">
						<a href="/" style="text-decoration:none">
						<pre class="writing">
  ___   _____  _____  _____  _____           ___  ______  _____        _    _  _____ ______            
 / _ \ /  ___|/  __ \|_   _||_   _|         / _ \ | ___ \|_   _|      | |  | ||  ___|| ___ \           
/ /_\ \\ `--. | /  \/  | |    | |   ______ / /_\ \| |_/ /  | |        | |  | || |__  | |_/ /           
|  _  | `--. \| |      | |    | |  |______||  _  ||    /   | |        | |/\| ||  __| | ___ \           
| | | |/\__/ /| \__/\ _| |_  _| |_         | | | || |\ \   | |        \  /\  /| |___ | |_/ /           
\_| |_/\____/  \____/ \___/  \___/         \_| |_/\_| \_|  \_/         \/  \/ \____/ \____/            
                                                                                                       
						</pre>
						</a>
						<form id="ascii-form" action="/ascii-art" method="post">
						<label for="font" class="writing">Choose banner</label>
						<select name="font" id="font" onchange="makeRequest()">
							{{range .Fonts}}
							<option value={{.}} class="writing">{{.}}</option>
							{{end}}
						</select>
						<br/> 
						<input type="hidden" oninput="makeRequest()" name="width" id="width" value="300" />
						<br/>
						<textarea oninput="makeRequest()" rows="10" cols="50" id="input" name="input" required></textarea>
						<br/>
						<br/>
						<button type="submit" value="submit">Send</button>
						</form>
						<button onclick="clearOutput()">Clear</button>
						<button onclick="copyText()">Copy</button>
					</div>
                    
					<br>
            
				</div>
			</div>
		
		</main>
		<div class="main__output">
		<h2>Output</h2>
			<div>	
				<div>
					<pre id="result" >{{.Art}}</pre>
				</div>
			</div>
		</div>
		<footer class="footer">
			<div class="container">
			</div>
		</footer>
	</div>
	<script src="/static/main.js">
	</script>
	</body>
</html>
