
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, inital-scale=1.0">
		<link href="static/style.css" rel="stylesheet">
		<title>ASCII-ART</title>
	</head>

	<body>
	<div class="wrapper">
		<header class="header">
			<div class="container">
			</div>
		</header>
		<main class="main">
			<div class="container">
				<div class="main__row">
               
					<div class="main__content">
						<a href="/" style="text-decoration:none">
						<pre class="writing">
  ___   _____  _____  _____  _____           ___  ______  _____        _    _  _____ ______            
 / _ \ /  ___|/  __ \|_   _||_   _|         / _ \ | ___ \|_   _|      | |  | ||  ___|| ___ \           
/ /_\ \\ `--. | /  \/  | |    | |   ______ / /_\ \| |_/ /  | |        | |  | || |__  | |_/ /           
|  _  | `--. \| |      | |    | |  |______||  _  ||    /   | |        | |/\| ||  __| | ___ \           
| | | |/\__/ /| \__/\ _| |_  _| |_         | | | || |\ \   | |        \  /\  /| |___ | |_/ /           
\_| |_/\____/  \____/ \___/  \___/         \_| |_/\_| \_|  \_/         \/  \/ \____/ \____/            
                                                                                                       
						</pre>
						</a>
						<h1 class="writing">{{.Error}}</h1>
						<h2 class="writing">{{.ErrorText}}</h2>
					</div>
				</div>
			</div>
		
		</main>
	</div>
	</body>
</html>
